<p>content works!</p>

<mat-form-field class="example-full-width" style="width: 500px;">
  <mat-label>Document Type</mat-label>
  <input
  matInput placeholder="Enter Your Document Type" [(ngModel)]="formValue">
</mat-form-field>

<h1>{{formValue}}</h1>

<app-content-inner [name]="formValue"></app-content-inner>

<br />
<button mat-raised-button color="accent" [routerLink]="['/content/subroute1']">Subroute1</button>
&nbsp;
<button mat-raised-button color="accent" [routerLink]="['/content/subroute2/123']" [queryParams]="{name: 'LUBO'}">Subroute2</button>

<router-outlet></router-outlet>
