<app-header></app-header>

<div class="container" fxLayout="row" fxLayoutAlign="center">

  <div fxFlex="100%" fxFlex.gt-sm="900px" style="background-color: #F8F8F8; padding-left: 10px; padding-right: 10px;" >
    <!--<app-login></app-login>
    <app-content></app-content>
    <app-docs></app-docs>-->

    <router-outlet></router-outlet>

    <div class="container" fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="30%" style="background-color: red;">content asdad asdads</div>
      <div fxFlex="50%" style="background-color: yellow;">content</div>
      <div fxFlex="20%" style="background-color: blue;">content</div>
    </div>

  </div>

</div>

